<header>
	<nav class="content">
		<div  class="site-title">
	<a href="/"><h1>Blog </h1></a>
	</div>
		<ul>
			<li><a href="/about-us">About</a></li>
			<li><a href="/blogs/create">Create</a></li>
			<li><a href="/blogs">blogs</a></li>
		</ul>
	</nav>
</header>