<!DOCTYPE html>
<html>
<%-include('./partials/head.ejs')%>

<body>
<%- include('./partials/nav.ejs') %>

<main>
	<p>OOPS,page not found</p>
</main>
<%-include('./partials/footer.ejs')%>

</body>
</html>